.black-tint {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 30px 25px;
    width: 100%;
    height: 100%;
    color: #ffffff;
}

.hero-basic .black-tint,
.hero-basic .blue-tint,
.hero-basic .green-tint,
.hero-basic .orange-tint,
.hero-basic .red-tint {
    padding: 70px 25px;
}

.blue-tint {
    background-color: rgba(0, 35, 58, 0.85);
    padding: 30px 25px;
    width: 100%;
    height: 100%;
    color: #ffffff;
}

.green-tint {
    background-color: rgba(9, 83, 0, 0.75);
    padding: 30px 25px;
    width: 100%;
    height: 100%;
    color: #ffffff;
}

.orange-tint {
    background-color: rgba(72, 40, 4, 0.85);
    padding: 30px 25px;
    width: 100%;
    height: 100%;
    color: #ffffff;
}

.red-tint {
    background-color: rgba(52, 2, 15, 0.8);
    padding: 30px 25px;
    width: 100%;
    height: 100%;
    color: #ffffff;
}

.section-padding-news {
    padding-top: 35px;
    padding-bottom: 65px;
}

.section-padding-stats {
    padding-top: 35px;
    padding-bottom: 35px;
}

.display-tr {
    display: table-row;
}

.display-tc {
    display: table-cell;
}

.extra-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-holder {
    margin: 20px auto 15px;
    text-align: center;
}

.btn-red-primary {
    background-color: #ed1651;
    text-decoration: none;
    padding: 7px 30px;
    color: #ffffff;
    font-size: 1.2rem;
    border-radius: 0;
}

.btn-red-primary:hover {
    background-color: #960006;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    border-radius: 0;
}

button.btn-red-primary {
    margin: 0 auto;
}

.hero-basic {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* height: 420px; */
    background-attachment: fixed;
}

.hero-map {
    height: 460px;
    background-color: #001b2c;
}

.hero-img {
    background-repeat: no-repeat;
    background-position: center 50px;
    background-size: cover;
    height: 65vh;
    background-attachment: fixed;
}

.job-hero-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vh;
    background-attachment: fixed;
}

.section-title {
    font-size: 2rem;
    color: #ed1651;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.section-title h1,
.section-title h2,
.section-title h3,
.section-title h4,
.section-title p {
    margin: 0;
}


.section-sub-title {
    /*font-size: 1.5rem;*/
    font-size: 18px;
    color: #2c2c2c;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-bottom: 25px;
}

.section-sub-title h1,
.section-sub-title h2,
.section-sub-title h3,
.section-sub-title h4,
.section-sub-title p {
    margin: 0;
}

.floating-box {
    padding: 35px 55px;
    box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.2);
    margin-top: -130px;
    background-color: #ffffff;
}

.floating-box-sm {
    padding: 6px 55px;
    box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.2);
    margin-top: -60px;
    background-color: #ffffff;
}

.home-features {
    margin-top: 55px;
    margin-bottom: 55px;
}

.feature-image {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 100%;
    /* width: 270px; */
   /* max-height: 350px;
    max-width: 350px;*/
    margin: 0 auto;
    overflow: hidden;
}

.feature-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1rem;
    flex-wrap: nowrap;
}

.feature-title .icon {
    font-size: 1.8rem;
    margin-right: 8px;
}

/*.filterDiv img {
    width: 150px;
}*/

.news-row {
    padding-top: 50px;
}

.news-box {
    border-top: 3px solid #ec8500;
    position: relative;
    text-align: center;
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.3);
    font-family: 'Oswald', sans-serif;
    margin-bottom: 50px;
}

.news-feature-image {
    width: 100%;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    overflow: hidden;
    display: table;
}

.news-date {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    border-radius: 50%;
    border: 2px solid #ec8500;
    color: #ffffff;
    height: 70px;
    width: 70px;
    padding: 13px;
    background-color: #ec8500;
    margin: auto;
    text-transform: uppercase;
}

.news-date .day {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 0.7;
    margin-bottom: 9px;
}

.news-date .month {
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 0.7;
    margin-bottom: 0;
}

.news-box .display-tr {
    display: table-row;
    height: 160px;
}

.news-title {
    color: #ec8500;
    display: table-cell;
    vertical-align: middle;
    font-size: 1.3rem;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.news-excerpt {
    padding: 20px;
    background-color: #ffffff;
    height: 5.6em;
    text-align: left;
    font-size: 1.1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    border-bottom: 2px solid #ec8500;
    overflow: hidden;
    line-height: 1.4em;
}

.news-link {
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
}

.testimonial-logo {
    text-align: center;
}

.testimonial-row {
    margin: 15px 0px 50px;
}

.ft-links .nav-link {
    text-transform: capitalize;
    color: #464646;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    border: none;
    padding: 4px 0px;
    margin: 0px 5px;
    font-size: 1rem;
}

.ft-links .nav-link:hover {
    text-transform: capitalize;
    color: #ed1651;
    text-decoration: none;
    border: none;
}

.ft-links .social-link {
    text-transform: capitalize;
    color: #ed1651;
    border: 1.5px solid #ed1651;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    margin: 0px 3px 10px;
    font-size: 1rem;
    padding: 1.5px;
}

.ft-links .social-link:hover {
    text-transform: capitalize;
    color: #ffffff;
    background-color: #ed1651;
    text-decoration: none;
}

footer .copyright {
    padding: 45px 5px 10px;
    color: #ed1651;
    text-align: center;
    font-size: 0.9rem;
}

.section-sub-title > a {
    color: #ed1651;
    font-weight: 300;
    font-size: 70%;
}

#sideSocial {
    position: absolute;
    top: 38vh;
    bottom: 0;
    left: 0;
    right: 0;
}

#sideSocial a {
    position: absolute;
    /* Position them relative to the browser window */
    right: -40px;
    /* Position them outside of the screen */
    transition: 0.3s;
    /* Add transition on hover */
    padding: 10px 15px;
    /* 15px padding */
    width: 50px;
    /* Set a specific width */
    text-decoration: none;
    /* Remove underline */
    font-size: 20px;
    /* Increase font size */
    color: white;
    /* White text color */
    background-color: #ed1651;
}

#sideSocial a:hover {
    right: 0;
    /* On mouse-over, make the elements appear as they should */
}

#twitter {
    top: 20px;
}

#facebook {
    top: 80px;
}

#instagram {
    top: 140px;
}

.hero-info {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.hero-info .title {
    margin-bottom: 30px;
}

/* .hero-info .title h1 {
    font-size: 2.3rem;
} */

.hero-info .copy {
    font-size: 1.23rem;
}

.modal-img {
    width: 200px;
}

.pagination-container {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 0;
    font-family: 'Oswald', sans-serif;
}

.pagination-container ul {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 0;
}

.page-item:not(:first-child) .page-link,
.page-item:not(:last-child) .page-link {
    margin: 0px 3px;
}

.page-link {
    background-color: #d7d7d7;
    color: #ffffff;
    border: none;
    padding: .5rem .5rem;
}

.page-link:hover,
.page-link:active,
.page-link:focus,
.page-link.active {
    background-color: #ed1651;
    color: #ffffff;
    border: none;
    padding: .5rem .5rem;
    box-shadow: none;
}

.contact {
    text-align: center;
}

.contact .icon {
    color: #ed1651;
    font-size: 1.5rem;
}

.contact .heading {
    font-weight: 700;
}

.contact .description {
    margin-bottom: 20px;
}

.contact-box {
    margin-top: 25px;
    font-family: 'Oswald', sans-serif;
}

.contact-box .title {
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
    text-transform: capitalize;
}

.contact-form {
    margin-top: 35px;
    font-family: 'Oswald', sans-serif;
}

.contact-form .form-control {
    border: none;
    border-radius: 0;
    color: #212529;
    background-color: #e3e3e3;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1.5rem;
}

.contact-form .form-control:hover {
    border: none;
    border-radius: 0;
    color: #212529;
    background-color: #ffffff;
}

.contact-form .form-control:focus {
    box-shadow: none;
    background-color: #ffffff;
}

.contact-form .btn-holder {
    margin: 20px auto 0px;
    text-align: center;
}

.solutions .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #ed1651;
    border-bottom: 1px solid transparent;
}

.solutions .nav-pills .nav-link {
    border-radius: 0;
}

.solutions .nav-link {
    color: #000;
    text-decoration: none;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0px;
    background-color: #ededed;
    border-bottom: 1px solid #c2c2c2;
}

.solutions .tab-pane {
    padding: 30px 35px;
}

.solutions .tab-pane p {
    margin: 0;
}

.hero-basic .carousel-indicators {
    bottom: -18px;
}

.stats {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.3;
}

.stats .icon {
    font-size: 1.6rem;
    color: #929292;
}

.stats .main {
    font-size: 2.2rem;
    color: #929292;
    font-weight: 500;
    position: relative;
}

.stats .main::after {
    content: '+';
    position: absolute;
    top: 0;
    font-size: 1.4rem;
}

.stats .sub {
    font-size: 1.3rem;
    color: #929292;
}

.portfolio {
    padding-top: 40px;
    padding-bottom: 20px;
}

.portfolio-controllers {
    margin-bottom: 30px;
}

.portfolio .portfolio-controllers .nav-link {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
    transition: 0.2s;
    border-bottom: 2px solid #ffffff;
    border: 2px solid #ffffff;
    padding: .5rem 2rem;
    border-radius: 0;
    margin: 0 20px;
}

.portfolio .portfolio-controllers .nav-link:hover,
.portfolio .portfolio-controllers .nav-link:active,
.portfolio .portfolio-controllers .nav-link.active {
    color: #ec8500 !important;
    background-color: #ffffff !important;
    text-decoration: none !important;
}

.filterDiv {
    /*float: left;
    display: none;*/
    /* Hidden by default */
    text-align: center;
    margin-bottom: 20px;
}

/* The "show" class is added to the filtered elements */

.show {
    display: block;
}

.mng-box {
    width: 100%;
    position: relative;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1rem;
}

.mng-content {}

.mng-details:hover {
    opacity: 1;
    transition: 0.5s;
}

.mng-details {
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.2s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    text-align: center;
}

.mng-title {
    font-size: 1.4rem;
    word-wrap: break-word;
    line-height: 1.2;
    margin-bottom: 10px;
}

.mng-tag {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.mng-view {
    font-size: 1.4rem;
}

.mng-view a {
    color: #ffffff;
}

.mng-profile {
    background-color: rgba(0, 35, 58, 0.85);
}

.mng-profile .modal-header {
    background-color: #002740;
    border-radius: 0;
    color: #ffffff;
    text-align: center;
    display: block;
}

.mng-profile .close {
    color: #ffffff;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1.7rem;
}

.mng-profile .modal-footer {
    display: block;
    text-align: center;
}

.mng-profile .mng-title,
.mng-profile .mng-tag {
    text-align: center;
}

.mng-profile .modal-body .tag {
    background-color: #ed1651;
    padding: 10px;
    color: #ffffff;
    margin-bottom: 12px;
}

.competitions .nav-tabs {
    border-bottom: none;
}

.competitions .nav-link {
    padding: 0;
    color: #6f6f6f;
}

.competitions .nav-tabs .nav-link.active,
.competitions .nav-tabs .nav-link:active,
.competitions .nav-tabs .nav-link:hover {
    color: #6f6f6f;
    background-color: transparent;
    border-color: transparent transparent #ec8500;
}

.comp-details {
    font-family: 'Oswald', sans-serif;
}

.comp-intro {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.comp-box {
    width: 100%;
    position: relative;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1rem;
}

.comp-content {}

.comp-info:hover {
    opacity: 1;
    transition: 0.5s;
}

.comp-info {
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.2s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    text-align: center;
}

.comp-title {
    font-size: 1.4rem;
    word-wrap: break-word;
    line-height: 1.2;
    margin-bottom: 10px;
}

.comp-tag {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.comp-view {
    font-size: 1.4rem;
}

.comp-view a {
    color: #ffffff;
}

.comp-profile .comp-title,
.comp-profile .comp-tag {
    text-align: center;
}

.upcoming-competition-box {
    border-bottom: 3px solid #ec8500;
    position: relative;
    text-align: center;
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.3);
    font-family: 'Oswald', sans-serif;
    margin-bottom: 50px;
    background-color: #ffffff;
}

.upcoming-competition-category {
    width: 100%;
    color: #ffffff;
    font-size: 1.15rem;
    padding: 4px 10px;
    margin-bottom: 1rem;
}

.upcoming-competition-category p {
    margin: 0;
}

.upcoming-competition-date {
    position: absolute;
    color: #2c2c2c;
    bottom: -40px;
    left: 0;
    right: 0;
    border-radius: 50%;
    border: 3px solid #ec8500;
    height: 70px;
    width: 70px;
    padding: 13px;
    background-color: #ffffff;
    margin: auto;
    text-transform: uppercase;
}

.upcoming-competition-date .day {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 0.7;
    margin-bottom: 9px;
}

.upcoming-competition-date .month {
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 0.7;
    margin-bottom: 0;
}

.upcoming-competition-title {
    color: #2c2c2c;
    vertical-align: middle;
    font-size: 1.7rem;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 70px;
}

.upcoming-competition-details {
    padding: 20px 20px 45px;
    background-color: #ffffff;
    height: 175px;
    text-align: left;
    font-size: 1.1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.upcoming-competition-details p {
    margin: 0;
}

.gallery-content-holder {
    padding: 30px 15px;
    font-family: 'Oswald', sans-serif;
}

.gallery-image-title {
    text-align: left;
    font-size: 1.3rem;
}

.gallery-image-desc {
    text-align: left;
    color: #909090;
    margin-bottom: 2rem;
}

.gallery-image-title p {
    margin: 0;
    text-align: left;
}

.ekko-lightbox .modal-body {
    padding: 0;
}

.ekko-lightbox .modal-content {
    background-color: transparent;
    border: none;
}

.ekko-lightbox .modal-header .close {
    color: #ffffff;
}

.ekko-lightbox .modal-header {
    border: none;
    border-radius: 0;
}

.essay-reg-title {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    background-position: center top;
    text-align: center;
}

.essay-form {
    padding: 3rem;
}

.essay-form .form-control {
    border-radius: 0;
}

.award {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 100%;
}

.award-title {
    background-color: #000;
    padding: 2rem;
    min-height: 110px;
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.award-icon {
    background-color: #000000;
    width: 60px;
    margin: -30px auto 0;
    color: #ec8500;
    border-radius: 9px;
    padding: 1rem;
    border: 1px solid #ec8500;
}

.award-desc {
    padding: 1rem;
    text-align: center;
}

.news-view {
    font-family: 'Oswald', sans-serif;
}

.news-copy {
    font-size: 1.1rem;
    padding: 1.5rem;
}

.view-news-title,
.view-news-title h4 {
    font-size: 2rem;
    text-align: center;
}

.benefit-holder {
    padding: 40px 0px;
}

.benefit-box {
    font-family: 'Oswald', sans-serif;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #ffffff;
}

.benefit-icon {
    color: #ed1651;
    font-size: 2rem;
    text-align: center;
}

.benefit-title {
    font-size: 1.7rem;
    color: #006f07;
    text-align: center;
}

.benefit-excerpt {
    text-align: center;
}

.vacancy-holder {
    padding: 40px 0px;
}

.vacancy-box {
    font-family: 'Oswald', sans-serif;
    padding: 20px 20px 0px;
    background-color: #ffffff;
}

.vacancy-icon {
    color: #ed1651;
    font-size: 1.3rem;
    text-align: center;
    position: relative;
}

.vacancy-icon a,
.vacancy-icon a:hover {
    text-decoration: none;
    color: #ed1651;
}

.vacancy-title {
    font-size: 1.7rem;
    color: #006f07;
}

.spinEffect .fa-plus-circle, .view-staffMembers.spinEffect .fa {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transition: 0.6s;
}

.view-staffMembers.spinEffect .fa {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transition: all 0.6s;
}

.view-staffMembers .fa {
    transition: all 0.6s;
}

/* .vacancy-title::after {
    display: block;
    width: 100px;
    height: 5.5px;
    background-color: #006f07;
} */

.vacancy-expiration {
    font-size: 1.2rem;
    color: #ec8500;
}

.vacancy-desc {
    margin-top: 20px;
}

.vacancy-desc-title {
    font-size: 1.2rem;
    color: #ec8500;
    margin-bottom: 10px;
}

.vacancy-desc-info {
    color: #2c2c2c;
    padding-bottom: 20px;
}

.vacancy-desc-info li {
    list-style-type: disc;
}

.apply .custom-file-input:lang(en) ~ .custom-file-label::after,
.custom-file-label::after {
    content: "\f07c  Choose a file";
    background-color: #ed1651;
    font-family: FontAwesome;
    color: #ffffff;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.contact-form .custom-file-label {
    border: none;
    border-radius: 0;
    color: #6c757d;
    background-color: #e3e3e3;
    margin-bottom: 1.5rem;
    height: auto;

}

.contact-form .custom-file-label:hover {
    border: none;
    border-radius: 0;
    color: #212529;
    background-color: #ffffff;
}

#sbuscribe-form .btn,
#sbuscribe-form .input-group-text {
    background-color: #ec8500;
    color: #ffffff;
}

/* Experience CSS */
.experience {
    height: 270px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    margin-bottom: 25px;
}

.experience-title {
    padding: 10px;
    color: #ffffff;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.experience-title p,
.experience-title h3,
.experience-title h1,
.experience-title h2 {
    margin: 0;
}

.experience-reveal {
    background-color: rgba(0, 0, 0, 0.85);
    /* background-color: rgba(9, 83, 0, 0.85); */
    color: #ffffff;
    opacity: 0;
    font-size: 1.4rem;
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    transition: all 0.3s;
}

.experience-reveal:hover {
    opacity: 1;
    transition: all 0.3s;
}

.experience-reveal a {
    color: #ffffff;
}

.experience-reveal a:hover {
    color: #ffffff;
    text-decoration: none;
}

/*.e-modal .modal-content {
    background-color: transparent;
    border: none;
    font-family: 'Oswald', sans-serif;
}

.e-modal .experience-title {
    padding: 0px;
}

.e-modal .modal-header {
    padding-left: 0px;
    padding-right: 0px;
}

.e-modal .close, .e-modal .close:hover {
    color: #ffffff;
}*/

.e-view-box .orange-experience::after {
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 2px;
    background-color: #ec8500;
    content: "";
}

.e-view-box .blue-experience::after {
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 2px;
    background-color: #007cd6;
    content: "";
}

.e-view-box .red-experience::after {
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 2px;
    background-color: #ed1651;
    content: "";
}

.e-view-box .green-experience::after {
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 2px;
    background-color: #006f07;
    content: "";
}

.e-view-box.orange-experience::after {
    height: 60px;
    width: 2px;
    display: block;
    margin: 0 auto;
    content: "";
    background-color: #ec8500;
}

.e-view-box.blue-experience::after {
    height: 60px;
    width: 2px;
    display: block;
    margin: 0 auto;
    content: "";
    background-color: #007cd6;
}

.e-view-box.red-experience::after {
    height: 60px;
    width: 2px;
    display: block;
    margin: 0 auto;
    content: "";
    background-color: #ed1651;
}

.e-view-box.green-experience::after {
    height: 60px;
    width: 2px;
    display: block;
    margin: 0 auto;
    content: "";
    background-color: #006f07;
}

.e-content-box.orange-experience::before {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ec8500;
    content: "";
}

.e-content-box.blue-experience::before {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #007cd6;
    content: "";
}

.e-content-box.red-experience::before {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ed1651;
    content: "";
}

.e-content-box.green-experience::before {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #006f07;
    content: "";
}

.placeholder-box.orange-experience::before {
    height: 60px;
    width: 2px;
    display: block;
    margin: 0 auto;
    content: "";
    background-color: #ec8500;
}

.placeholder-box.blue-experience::before {
    height: 60px;
    width: 2px;
    display: block;
    margin: 0 auto;
    content: "";
    background-color: #007cd6;
}

.placeholder-box.red-experience::before {
    height: 60px;
    width: 2px;
    display: block;
    margin: 0 auto;
    content: "";
    background-color: #ed1651;
}

.placeholder-box.green-experience::before {
    height: 60px;
    width: 2px;
    display: block;
    margin: 0 auto;
    content: "";
    background-color: #006f07;
}

.placeholder-box.orange-experience:nth-of-type(1)::before {
    height: 60px;
    width: 2px;
    display: block;
    margin: 0;
    content: "";
    background-color: #ec8500;
}

.placeholder-box.blue-experience:nth-of-type(1)::before {
    height: 60px;
    width: 2px;
    display: block;
    margin: 0;
    content: "";
    background-color: #007cd6;
}

.placeholder-box.red-experience:nth-of-type(1)::before {
    height: 60px;
    width: 2px;
    display: block;
    margin: 0;
    content: "";
    background-color: #ed1651;
}

.placeholder-box.green-experience:nth-of-type(1)::before {
    height: 60px;
    width: 2px;
    display: block;
    margin: 0;
    content: "";
    background-color: #006f07;
}

.placeholder-box.orange-experience:nth-of-type(3)::before {
    height: 60px;
    width: 2px;
    display: block;
    margin: 0 0 0 auto;
    content: "";
    background-color: #ec8500;
}

.placeholder-box.blue-experience:nth-of-type(3)::before {
    height: 60px;
    width: 2px;
    display: block;
    margin: 0;
    content: "";
    background-color: #007cd6;
}

.placeholder-box.red-experience:nth-of-type(3)::before {
    height: 60px;
    width: 2px;
    display: block;
    margin: 0 0 0 auto;
    content: "";
    background-color: #ed1651;
}

.placeholder-box.green-experience:nth-of-type(3)::before {
    height: 60px;
    width: 2px;
    display: block;
    margin: 0 0 0 auto;
    content: "";
    background-color: #006f07;
}

.e-content-container {
    margin-bottom: 30px;
}

.col-md-4 .e-content {
    text-align:  center;
    margin-bottom: 25px;
}


.col-md-4 .e-content:nth-of-type(2) {
    margin: 0 auto;
}

.col-md-4 .e-content:nth-of-type(3) {
    margin-left: auto;
}

@media screen and (max-width: 767px) {
    .placeholder-box.green-experience::before, .e-content-box.green-experience::before, .placeholder-box.red-experience::before, .e-content-box.red-experience::before, .placeholder-box.blue-experience::before, .e-content-box.blue-experience::before, .placeholder-box.orange-experience::before, .e-content-box.orange-experience::before {
    display: none !important;
}
 
    .e-content {
        box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.2);
    }
}

/* /Experience CSS */

/* Milestones CSS */

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.milestone .black-tint {
    padding-top: 0;
    padding-bottom: 0;
}

.milestone-intro .fa {
    font-size: 10rem;
    line-height: 1rem;
    color: #f5f5f5;
}

#cd-timeline {
    position: relative;
    padding: 3em 0;
    /* margin-top: 2em; */
    /* margin-bottom: 2em; */
    color: #2c2c2c;
    font-family: 'Oswald', sans-serif;
}

#cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: -6px;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #f5f5f5;
}

@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: -2em;
        /* margin-bottom: 3em; */
    }

    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}

.cd-timeline-block::after {
    clear: both;
    content: "";
    display: table;
}

.cd-timeline-block:first-child {
    margin-top: 0;
}

.cd-timeline-block:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 4em 0;
    }

    .cd-timeline-block:first-child {
        margin-top: 0;
    }

    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}

.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    text-align: center;
    background-color: #ec8500;
    color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline-img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        font-size: 2rem;
        margin-left: -30px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }

    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden;
    }

    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 0.6s;
        -moz-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s;
    }
}

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -moz-transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -moz-transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
    }
}

@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: #ffffff;
    border-radius: 0;
    padding: 1em;
    box-shadow: none;
}

.cd-timeline-content::after {
    clear: both;
    content: "";
    display: table;
}

.cd-timeline-content h2,
.cd-timeline-content h1 {
    color: #ec8500;
}

.cd-timeline-content p,
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
    font-size: 13px;
    font-size: 0.8125rem;
}

.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
    display: inline-block;
}

.cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
}

.cd-timeline-content .cd-date {
    float: left;
    padding: .8em 0;
    opacity: 1;
    color: #ffffff;
}

.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #ffffff;
}

@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        font-size: 20px;
        font-size: 1.25rem;
    }

    .cd-timeline-content p {
        font-size: 16px;
        font-size: 1rem;
    }

    .cd-timeline-content .cd-read-more,
    .cd-timeline-content .cd-date {
        font-size: 14px;
        font-size: 0.875rem;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
    }

    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: #ffffff;
    }

    .cd-timeline-content .cd-read-more {
        float: left;
    }

    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: -8px;
        font-size: 1.5rem;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #ffffff;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }

    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }

    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        -moz-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }
}

@media only screen and (min-width: 1170px) {

    /* inverse bounce effect on even content blocks */
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        -moz-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}

@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(20px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}

@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -moz-transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(-20px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}

@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

/* / Milestones CSS */

/* Media Queries */

@media screen and (max-width: 1024px) {
    .extra-padding {
        padding: 0px;
    }

    .benefit {
        margin-bottom: 20px;
    }

    .vacancy {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 767px) {
    .floating-box {
        padding: 25px 25px;
    }

    .feature-image {
        margin: 20px auto 0px;
    }

    .section-title {
        font-size: 1.6rem;
        color: #ed1651;
        font-family: 'Oswald', sans-serif;
        text-align: center;
    }

    .section-sub-title {
        font-size: 1.3rem;
        color: #2c2c2c;
        font-family: 'Oswald', sans-serif;
        text-align: center;
        margin-bottom: 25px;
    }

    .news-box {
        margin: 0px 0px 50px;
    }

    .section-padding-news {
        padding-bottom: 15px;
    }

    .ft-links {
        padding: 10px 0px;
        border-top: 1px solid #e6e6e6;
    }

    .ft-links .nav-link {
        padding: 5.5px 0px;
    }

    footer .copyright {
        border-top: 1px solid #e6e6e6;
    }

    .solutions .tab-pane img {
        margin-bottom: 15px;
    }

    .solutions .tab-pane {
        padding: 20px 15px;
    }

    .black-tint,
    .green-tint,
    .orange-tint,
    .blue-tint,
    .red-tint {
        padding: 30px 0px !important;
    }

    .portfolio .portfolio-controllers .nav-link,
    .nav-link {
        padding: .4rem 0.7rem;
        margin: 0px 5px;
    }
    
    .portfolio .portfolio-controllers .nav-link {
        margin: 0px 2px;
    }

    .mng-title {
        font-size: 1.1rem;
        margin-bottom: 5px;
    }

    .benefit {
        margin-bottom: 20px;
    }

    .vacancy {
        margin-bottom: 20px;
    }
    
    .feature-copy, .feature-title {
    padding: 0 15px;
}

}

@media (min-width: 100px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    
    /*.carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }*/
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}