::-moz-selection {
    color: #ffffff;
    background-color: #ed1651;
}

::selection {
    color: #ffffff;
    background-color: #ed1651;
}

html, * {
    cursor: url('./img/skm.svg'),default !important;
}


body {
    font-family: 'Arimo', sans-serif;
    color: #2c2c2c;
    font-size: 100%;
    overflow-x: hidden;
}

a:focus, button:focus {
    outline: none;
    box-shadow: none;
}

li {
    list-style-type: none;
}

.red {
    color: #ed1651;
}

.red-bg {
    background-color: #ed1651;
    color: #ffffff;
}

.blue {
    color: #007cd6;
}

.blue-bg {
    background-color: #007cd6;
}

.green {
    color: #006f07;
}

.green-bg {
    background-color: #006f07;
}

.orange {
    color: #ec8500;
}

.orange-bg {
    background-color: #ec8500;
}

.grey-bg {
    background-color: #f5f5f5;
}


a {
    color: #230E20;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #c32026;
    text-decoration: none;
    transition: 0.3s;
}

header {
    background-color: #ffffff;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Oswald', sans-serif;
    box-shadow: 0px -4px 5px 3px rgba(0, 0, 0, 0.25);
}

footer {
    background-color: #ffffff;
}

button:focus,
.btn:focus{
    outline: none;
    box-shadow: none;
}

/*
Back to top
*/

button.back-to-top {
    margin: 0 !important;
    padding: 0 !important;
    background: #fff;
    height: 0px;
    width: 0px;
    overflow: hidden;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    color: transparent;
    clear: both;
    visibility: hidden;
    position: fixed;
    cursor: pointer;
    display: block;
    border: none;
    right: 50px;
    bottom: 75px;
    font-size: 0px;
    outline: 0 !important;
    z-index: 99;
    transition: all .3s ease-in-out;
}

button.back-to-top:hover,
button.back-to-top:active,
button.back-to-top:focus,
    {
    outline: 0 !important;
}

button.back-to-top::before {
    content: "\f077";
    font-family: "FontAwesome";
    display: block;
    vertical-align: middle;
    margin: -5px 0 auto;
}

button.back-to-top.show {
    display: block;
    background: #ec8500;
    color: #ffffff;
    font-size: 20px;
    right: 15px;
    bottom: 15px;
    height: 30px;
    width: 30px;
    visibility: visible;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}

button.back-to-top.show:active {
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}

/* End */
hr.thick {
    border-top: 2px solid rgba(0, 0, 0, .3);
}

.section-padding {
    padding-top: 65px;
    padding-bottom: 65px;
}

.section-padding-portfolio {
    padding-top: 65px;
    padding-bottom: 0px;
}

.section-padding-footer {
    padding-top: 35px;
    padding-bottom: 35px;
}

/* Navbar */

nav {
    font-family: 'Oswald', sans-serif;
}

.navbar {
    padding: 0;
}

.nav-link {
    color: #ed1651;
    text-decoration: none;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0px 30px;
}

.nav-link:hover,
.nav-link:active, 
.nav-link.active {
    color: #ec8500;
    text-decoration: none;
    transition: 0.2s;
    border-bottom: 1px solid #ec8500;
}

.nav-link .fa-2x {
    font-size: 1.2em;
}

.nav-link.search {
    color: #a4a4a4;
    text-decoration: none;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
    margin: 0px
}

.nav-link.search:hover {
    color: #ed1651;
    text-decoration: none;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
    margin: 0px
}

.nav-icon {
    margin: 0 .1rem !important;
}

.nav-icon {
    position: relative;
}

.navbar-offcanvas {
    overflow: hidden;
}

.navbar-toggler {
    color: #ed1651;
}



/* Modals */

#search-modal.animated {
    animation-duration: 0.3s;
}

#search-modal.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

#search-modal .modal-dialog {
    position: fixed;
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;
}

#search-modal .modal-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: rgba(0, 35, 58, 0.9);
}

#search-modal .modal-header {
    border: none;
}

#search-modal .close {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
}

#search-form .btn {
    background-color: transparent;
}

#search-form .form-control:focus {

    color: #c32026;
    background-color: #fff;
    border-color: #c32026;
    outline: 0;
    box-shadow: 0 0 0 1px rgba(234, 0, 0, .3);

}

#search-form .form-control::placeholder {
font-size: 0.9rem;

}

#subscribe-modal.animated {
    animation-duration: 0.3s;
}

#subscribe-modal.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

#subscribe-modal .modal-dialog {
    position: fixed;
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;
}

#subscribe-modal .modal-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: rgba(0, 35, 58, 0.9);
}

#subscribe-modal .modal-header {
    border: none;
}

#subscribe-modal .close {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
}

#subscribe-form .btn {
    background-color: transparent;
}

#subscribe-form .form-control:focus {

    color: #c32026;
    background-color: #fff;
    border-color: #c32026;
    outline: 0;
    box-shadow: 0 0 0 1px rgba(234, 0, 0, .3);

}

#subscribe-form .form-control::placeholder {
font-size: 0.9rem;

}



/* breakpoint and up - mega dropdown styles */

@media screen and (min-width: 576px) {
    .container {
        max-width: 760px;
    } 
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 915px;
    } 
}

@media screen and (max-width: 1024px) {
    .nav-link .fa-2x {
        font-size: 1.2em;
    }

    /* Offcanvas - Nav Controller */
    .navbar-offcanvas.in {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        /* -webkit-box-shadow: 0 0px 72px 53px rgba(0, 0, 0, 0.3);
        -ms-box-shadow: 0 0px 72px 53px rgba(0, 0, 0, 0.3);
        -os-box-shadow: 0 0px 72px 53px rgba(0, 0, 0, 0.3); */
        background-color: #000000;
    }

    .navbar-offcanvas {
        max-width: 250px;
        padding-top: 35px;
        padding-bottom: 20px;
        padding-left: 20px;
    }

    .navbar-offcanvas a {
        color: #ffffff;
    }

    .offcanvas-toggle .fa-bars {
        transition: 0.3s;
    }

    .offcanvas-toggle.is-open .fa-bars {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        transition: 0.3s;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 1200px;
    } 

}